<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/title.html">
        <b>Probabalistic and Statistical Reasoning</b>
      </a>
  
      <a role="button" class="navbar-burger" data-target="navbar-toggle">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbar-toggle" class="navbar-menu">
      <div class="navbar-start">
        <a href="/title.html" class="navbar-item">
          Textbook
        </a>
      </div>
      </div>
  </nav>
  