<aside class="menu sidebar" style="height: 89%;">
    <ul class="menu-list">
        {% for main in all_sections %}
            <li class="menu-label" id="sidebar-{{ all_sections[main][0] }}">
                <a href="{{ slugify(main) }}.html#{{ all_sections[main][0] }}">{{ main }}</a>
            </li>

            {% for sub in all_sections[main][1] %}
                <li id="sidebar-{{ all_sections[main][1][sub] }}"><a href="{{ slugify(main) }}.html#{{ all_sections[main][1][sub] }}">{{ sub }}</a></li>
            {% endfor %}

        {% endfor %}
    </ul>
</aside>