{% extends 'templates/base.html' %}

{% block body %}

{% include 'templates/navbar.html' %}

<section class="section" style="height: 100%;">
    <div class="container" style="height: 100%;">
        <div class="columns">
            <div style="height: 100vh;" class="column">
                {% include 'templates/sidebar.html' %}
            </div>
            <div style="height: 100vh;" class="column is-9">
                <div style="width: 100%; height: 89%; border: 1px solid black;">
                    <iframe name="book-frame" width="100%" height="100%" src="textbook/{{ current_main }}.html" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    window.onhashchange = send_id;

    function send_id() {
        const frame = window.frames['book-frame'];
        const id_to_scroll = window.location.hash.substr(1);

        if (id_to_scroll !== '') {
            frame.scroll_to_id(id_to_scroll);
            const sidebar_element = document.getElementById('sidebar-' + id_to_scroll);
            sidebar_element.scrollIntoView();
            window.scrollTo(0, 0);
        }
    }

</script>

{% endblock %}