{% extends 'templates/base.html' %}

{% block head %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
{% endblock %}

{% block body %}

{% include 'templates/navbar.html' %}

<section class="section" style="height: 100%;">
    <div class="container" style="height: 100%;">
        <div class="columns">
            <div style="height: 100vh;" class="column">
                {% include 'templates/sidebar.html' %}
            </div>
            <div style="height: 100vh;" class="column is-9">
                <div style="width: 100%; height: 89%; border: 1px solid black;">
                    <iframe name="book-frame" width="100%" height="100%" src="textbook/{{ current_main }}.html" frameborder="0"></iframe>
                </div>
            </div>
        </div>

        <div class="tabs is-toggle has-background-light is-fullwidth is-medium" data-elem="calculator">
            <ul>
                <li class="is-active tools-tab" id="graph-tab">
                    <a onclick="tab_change('graph', this)">
                        <span class="icon is-small"><i class="fas fa-chart-line" aria-hidden="true"></i></span>
                        <span>Graphing Calculator</span>
                    </a>
                </li>
                <li class="tools-tab" id="scientific-tab">
                    <a onclick="tab_change('scientific', this)">
                        <span class="icon is-small"><i class="fas fa-calculator" aria-hidden="true"></i></span>
                        <span>Scientific Calculator</span>
                    </a>
                </li>
                <li class="tools-tab" id="latex-tab">
                    <a onclick="tab_change('latex', this)">
                        <span class="icon is-small"><i class="fas fa-clipboard" aria-hidden="true"></i></span>
                        <span>LaTeX Notes</span>
                    </a>
                </li>
            </ul>
        </div>

        <div id="graph">
            <div class="mb-5 calc" id="calculator"></div>
        </div>


        <div class="dontshow" id="scientific">
            <div class="mb-5 calc" id="scien-calculator"></div>
        </div>

        <div class="dontshow" id="latex">
            <div class="columns mt-5">
                <div class="column">
                <textarea onscroll="sync_scroll_preview(this)" placeholder="Type some notes here! (Try using LaTeX)"
                      class="textarea"
                      oninput="show_latex(this)"
                      id="latex_writer"></textarea>
                </div>
                <div class="column">
                    <p id="show_latex"
                       class="has-background-light"></p>
                </div>
            </div>
        </div>


    </div>
</section>


<script src="https://www.desmos.com/api/v1.6/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<script>

    const url = new URL(window.location.href);
    const tab_to_show = url.searchParams.get("show");

    if (['latex', 'graph', 'scientific'].includes(tab_to_show)) {
        tab_change(tab_to_show, document.getElementById(`${tab_to_show}-tab`).childNodes[0])
    }


    const elt = document.getElementById('calculator');
    const calculator = Desmos.GraphingCalculator(elt);

    const scien_elt = document.getElementById('scien-calculator');
    const scientific_calculator = Desmos.ScientificCalculator(scien_elt);

    function send_id() {
        const frame = window.frames['book-frame'];
        const id_to_scroll = window.location.hash.substr(1);

        if (id_to_scroll !== '') {
            frame.scroll_to_id(id_to_scroll);
            const sidebar_element = document.getElementById('sidebar-' + id_to_scroll);
            sidebar_element.scrollIntoView();
            window.scrollTo(0, 0);
        }
    }

    window.onhashchange = send_id;

    function tab_change(el, p) {
        document.getElementById('scientific').classList.add('dontshow')
        document.getElementById('graph').classList.add('dontshow')
        document.getElementById('latex').classList.add('dontshow')

        document.getElementById(el).classList.remove('dontshow')

        for (const elem of document.getElementsByClassName('tools-tab')) {
            elem.classList.remove('is-active')
        }

        p.parentNode.classList.add('is-active')

        window.history.replaceState(null, null, `?show=${el}`);

    }


    let id_ = 0;

    function textbook(eq) {
        eq = eq.replaceAll('{T}_{1}:', '').replaceAll('{T}_{2}:', '').replaceAll('{T}_{3}:', '').replaceAll('{L}_{1}:', '').replaceAll('{L}_{2}:', '').replaceAll('{L}_{3}:', '').replaceAll('\\+', '').replaceAll('\\-', '-').replaceAll(':', '')
        calculator.setExpression({id: 'graph' + id_, latex: eq});
        id_ += 1;
    }



    function show_latex(elem) {
        const val = elem.value
        document.getElementById('show_latex').innerText = val
        MathJax.typeset()
        save_latex(elem.value)
    }

    function sync_scroll_preview(elem) {
        document.getElementById('show_latex').scroll(0, elem.scrollTop)
    }

</script>

{% endblock %}