<!doctype html>
<html lang="en">
    <head>
        <meta name="referrer" content="never">
        <meta name="referrer" content="no-referrer">
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body class="{{ body_class }}" onload="frame_init()">
        {{ raw }}
        {{ textbook_content|safe }}
        {{ endraw }}

        <script>
            function frame_init() {
                window.parent.send_id(); 
                return true;
            }

            function scroll_to_id(id) {
                document.getElementById(id).scrollIntoView();
            }

            function desmos(elem) {
                window.parent.textbook(elem)
            }
    
    
            const elts = document.querySelectorAll('.mathjax-desmos');
    
            for (let i = elts.length - 1; i >= 0; --i) {
                elts[i].dataset.jax = elts[i].innerText
                elts[i].onclick = function () {
                    let e = elts[i].innerText.substring(2, elts[i].innerText.length - 2);
                    desmos(elts[i].dataset.jax.substring(2, elts[i].dataset.jax.length - 2));
                };
    
            }
        </script>

    </body>
</html>